<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd">
    <!--扫描controller-->
    <mvc:annotation-driven/>
    <context:component-scan base-package="com.ym.er.service"/>
    <context:component-scan base-package="com.ym.er.controller"/>
    <context:component-scan base-package="com.ym.er.back.controller"/>

    <mvc:resources mapping="/assets/**" location="/WEB-INF/pages/assets/"/>
    <mvc:resources mapping="/backend/css/**" location="/WEB-INF/pages/backend/css/"/>
    <mvc:resources mapping="/backend/js/**" location="/WEB-INF/pages/backend/js/"/>
    <mvc:resources mapping="/backend/images/**" location="/WEB-INF/pages/backend/images/"/>

    <!-- 识图解析器 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/pages/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!-- 配置国际化资源配置文件 -->
    <bean id="messageSource"
          class="org.springframework.context.support.ResourceBundleMessageSource">
        <!-- i18n对应i18.properties的文件名 -->
        <property name="basename" value="i18n"/>
    </bean>


    <!-- SpringMVC上传文件时，需要配置MultipartResolver处理器 -->
    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="UTF-8" />
        <!-- 指定所上传文件的总大小不能超过4M。注意maxUploadSize属性的限制不是针对单个文件，而是所有文件的容量之和 -->
        <!-- 1024*1024*4=4194304 -->
        <property name="maxUploadSize" value="4194304" />
    </bean>

    <!-- SpringMVC在超出上传文件限制时，会抛出org.springframework.web.multipart.MaxUploadSizeExceededException -->
    <!-- 该异常是SpringMVC在检查上传的文件信息时抛出来的，而且此时还没有进入到Controller方法中 -->
    <bean id="exceptionResolver"
          class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
        <property name="exceptionMappings">
            <props>
                <!-- 遇到MaxUploadSizeExceededException异常时，自动跳转到/WEB-INF/pages/public/error.jsp页面 -->
                <prop key="org.springframework.web.multipart.MaxUploadSizeExceededException">public/error</prop>
            </props>
        </property>
    </bean>
    <!--拦截器，用于判断权限-->

    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/backend/**"/>
            <bean class="com.ym.er.auth.AuthInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>



</beans>